.header {
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.footer {
  display: flex;
  justify-content: space-around;
  border: 5px forestgreen solid;
}

#services_list {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 4px solid #5b4b45;
  background-color: #ab692b;
}

#services_ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service {
  flex-basis: 2em;
  margin: 0.5em 2em 0em 2em;
  color: #eaeaea;
}

body {
  background-color: bisque;
}
